@media (max-width:768px){
    .main{
        .d-flex{
            .item{
                width: 50%;
            }
        }
        .menu{
            li{
                display: none;
            }
            li.bars{
                display: block;
            }
            ul:hover{
                li{
                    display: block;
                }
            }
        }
        
    }

}

@media (max-width:425px){
    .main{
        .d-flex{
            .item{
                width: 100%;
            }
        }

        .menu{
            li{
                display: none;
                margin-top: 15px;
            }
            li.bars{
                display: block;
            }
            
            ul{
                display: block;
            }

            ul:hover{
                li{
                    display: block;
                }
            }

        }
    }

}